<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Campeonato</title>

        <link rel="stylesheet" href="style/style.css">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        <div class="wrapper bg-secondary">
            <div id="formContent">
                <div id="formheader">
                    <h2 class="mt-4 text-white">Campeonato</h2>
                </div>
                <form action="validarlogin" class="mt-2" method="post">
                    <input type="text" name="user" placeholder="login" autocomplete="off">
                    <input type="password" name="password" placeholder="password" autocomplete="off">
                    <input type="submit" class="bg-info" value="Log In">
                </form>

                <div id="formFooter">
                <a class="underlineHover" href="cadastroUsuario">Deseja se cadastrar?</a>
                </div>
            </div>
        </div>
    </body>
</html>